@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

$font-family-sans-serif: "Roboto Condensed", sans-serif;
$primary-color: #f4f4f5;
$secondary-color: #bc0000;
$third-color: #27272a;
$fourth-color: #999999;
$spacing: 1rem;

*,
a {
  font-family: $font-family-sans-serif;
  color: $third-color;
}

.mainContent {
  margin-left: $spacing * 4;
}
