@import "./input.scss";

nav {
  background-color: $primary-color;
  width: $spacing * 4;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  left: 0;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    li {
      text-align: center;
      a {
        text-decoration: none;
        font-style: italic;
        font-size: $spacing * 0.6;
        :hover {
          background-color: $fourth-color;
        }
        .navLink {
          display: flex;
          flex-direction: column;
          align-items: center;
          svg {
            width: $spacing * 1.5;
            height: auto;
          }
        }
      }
    }
  }
}
